<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Home | andresmartell.com</title>
  <style>
      body {background: #112;}
  </style>
</head>
<body>
    <div class="welcome">
        <h1>Welcome!</h1>
        <h3>My name is Andres and this site is where I share what I enjoy with the world.</h3>
    </div>
    <form action="">
        <input type="text" placeholder="What hobby are you interested in?">
    </form>
</body>
</html>
